<h1>Here are some delicious foods!</h1>
<div>
@{
    string[] dishes = { "pizzeh", "lasagne", "BongoBagels", "Industrial supply of flour" };

    foreach (string dish in dishes)
    {
        if (dish.StartsWith("I") || dish.StartsWith("i"))
        {
            <p style="color:red;">@dish</p>
        }
        else
        {
            <p>@dish</p>
        }
    }
}
</div>